<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>300231452883-8d7gc62v8ag14pd7sdpl22cs7qhv1g9b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.300231452883-8d7gc62v8ag14pd7sdpl22cs7qhv1g9b</string>
	<key>API_KEY</key>
	<string>AIzaSyAAwHMtWGVR7SfTgMfSlVDHOz8Dlzd4VO4</string>
	<key>GCM_SENDER_ID</key>
	<string>300231452883</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.istrides.awomowa</string>
	<key>PROJECT_ID</key>
	<string>awomowa</string>
	<key>STORAGE_BUCKET</key>
	<string>awomowa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:300231452883:ios:886847bf1d54a329f40c26</string>
</dict>
</plist>